id_rsa.pub
id_rsa

.idea
/main.yml
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Asset
/src/main/resources/uploads/
/target/
/target/*
/src/main/resources/.env
target/
target/ipwrc-webshop-1.jar
classes/
generated-sources/

data
